/*************************************************
** Button Styles
*************************************************/
.menu {
	cursor: pointer;
	width: auto;
	height: auto;
	padding: 12px 30px;
	color: none;
	background: none;
	border: none;
/* top/left  bottom/right */
	background-image-clip: 0px 0px 59px 201px;
	background-image-slice: 8px 22px 52px 176px; 
	background-image: "images/woodplank.png";
}

.menu .label {
/*	margin: 5px 5px 5px 5px; */
	padding: 5px 15px;
	font-name: "fonts/Avdira.fnt";
/*	border: 4px none #bd9158; */

}

.menu .image {
	margin: 5px 5px;
	
}

.menu:down .label {
	border: 4px solid #bd9158;
}

.ui {
	padding: 0;
	margin: 0;
	width: auto;
	height: auto;
}

.ui .icon {
	width: 32px;
	height: 32px;
}

